@import './globals.scss';

.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  .home__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
      z-index: -1;
      filter: brightness(.5);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      .profile {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        gap: 1rem;
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;

        @media only screen and (max-width: 468px) {
          flex-direction: column;
        }

        h1 {
          font-size: $big-fs;
          color: $body-c;
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 300;
          letter-spacing: 1px;

          @media only screen and (max-width: 468px) {
            margin-bottom: 2rem;
          }

          span {
            color: $body-c;
            font-weight: bold;
            letter-spacing: 1px;
            font-family: $sec-f;
          }

          @media only screen and (max-width: 468px) {
            div {
              display: none;
              visibility: hidden;
            }
          }
        }
      }

      .btn {
        display: flex;
        width: 75%;
        height: 60px;
        background-color: $second-c;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        border-radius: 12px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        text-transform: uppercase;
        margin-top: 3rem;
        cursor: pointer;

        @media only screen and (max-width: 992px) {
          width: 80%;
          height: 70px;
        }

        @media only screen and (max-width: 468px) {
          width: 100%;
        }

        @media only screen and (max-width: 320px) {
          flex-direction: column;
          padding: 0;
          width: 100%;
        }

        &:hover {
          transform: perspective(1px) scale(.9);
          background-color: $body-c;
        }

        a {
          color: $title-c;
          font-size: 1.65rem;
          display: flex;

          @media only screen and (max-width: 468px) {
            font-size: 1.3rem;
          }

          &:nth-child(2) {
            font-weight: bold;
          }
        }
      }

      .secondary {
        display: flex;
        width: 90%;
        height: 70px;
        background-color: $primary-c;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem 5%;
        border-radius: 12px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        text-transform: uppercase;
        padding: 1rem;
        cursor: pointer;

        @media only screen and (max-width: 992px) {
          width: 100%;
          margin-top: 5rem;
          height: 90px;
        }

        @media only screen and (max-width: 768px) {
          margin-top: 3rem;
        }

        @media only screen and (max-width: 468px) {
          width: 100%;
          flex-direction: column;
          margin-top: 1.5rem;
          height: auto;
        }

        &:hover {
          transform: perspective(1px) scale(.9);
          background-color: $title-c;
        }

        a {
          color: $body-c;
          font-size: 1.8rem;
          display: flex;
          gap: .5rem;
          align-items: center;
          letter-spacing: 1px;

          @media only screen and (max-width: 468px) {
            flex-direction: column;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.count {
  position: relative;
  padding: 7rem 2rem;

  @media only screen and (max-width: 768px) {
    padding: 4rem 2rem;
  }

  @media only screen and (max-width: 468px) {
    min-height: 75vh;
  }

  @media only screen and (max-width: 320px) {
    min-height: 100vh;
    margin-top: 2rem;
  }

  .counter {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: $body-c;
    color: $title-c;
    width: 90%;
    border-bottom: 2px solid $second-c;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
    border-radius: 12px;

    @media only screen and (max-width: 992px) {
      width: 95%;
    }

    @media only screen and (max-width: 468px) {
      height: 75vh;
      flex-direction: column;
      gap: 2rem;
    }

    @media only screen and (max-width: 320px) {
      height: 100vh;
      flex-direction: column;
      gap: 2rem;
    }

    .box {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
      align-items: center;
      position: relative;

      @media only screen and (max-width: 468px) {
        padding: 1rem 0;
      }

      .row {
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $title-c;
        opacity: .1;

        @media only screen and (max-width: 468px) {
          bottom: 0;
          top: 110px;
          height: 2px;
          width: 100%;
          left: 0;
        }
      }

      h1 {
        display: flex;
        font-size: $big-fs;
        font-weight: bold;
        gap: .4rem;
        margin-bottom: .5rem;
        font-family: $sec-f;

        @media only screen and (max-width: 992px) {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
      }

      h3 {
        font-size: $h1-fs;
        letter-spacing: 1px;
        font-weight: 400;

        @media only screen and (max-width: 992px) {
          font-size: 15px;
        }
      }
    }
  }
}

.magang {
  background-color: $primary-c;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;

  @media only screen and (max-width: 768px) {
    min-height: 75vh;
  }

  @media only screen and (max-width: 468px) {
    min-height: 115vh;
  }

  @media only screen and (max-width: 320px) {
    min-height: 150vh;
  }

  .magang__container {
    padding: 1rem 7%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      .text {

        h1 {
          font-size: $big-fs;
          color: $body-c;
          letter-spacing: 1px;
          line-height: 1.5;
          margin-bottom: 1rem;
          font-family: $sec-f;

          @media only screen and (max-width: 768px) {
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 1rem;
          }

          @media only screen and (max-width: 468px) {
            max-width: 100%;
            font-size: 2.2rem;
          }
        }

        span {
          font-size: 1.3rem;
          color: $body-c;
        }

        p {
          font-size: 1.3rem;
          color: $body-c;
          margin-top: 1.5rem;
          font-weight: 300;
          line-height: 1.5;

          @media only screen and (max-width: 992px) {
            max-width: 80%;
            margin: 0 auto;
            margin-top: 2rem;
            line-height: 2;
          }

          b {
            font-weight: 600;
          }
        }
      }

      .button {
        display: flex;
        gap: 2rem;
        margin-top: 4rem;

        @media only screen and (max-width: 468px) {
          flex-direction: column;
          align-items: center;
        }

        a {
          width: 250px;
          background-color: transparent;
          color: $body-c;
          border: 2px solid $second-c;
          padding: 1rem 3%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          font-size: 1.4rem;
          transition: all .3s ease-in-out;

          &:hover {
            background-color: $second-c;
          }

          &:nth-child(2) {
            background-color: $second-c;
            width: 350px;
            border: none;

            @media only screen and (max-width: 468px) {
              width: 320px;
              height: 70px;
            }

            @media only screen and (max-width: 320px) {
              width: 250px;
            }

            &:hover {
              background-color: $body-c;
              color: $title-c;
            }
          }
        }
      }
    }
  }
}

.connect {
  .connect__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .content {
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;

      @media only screen and (max-width: 992px) {
        flex-direction: column;
        row-gap: 3rem;
      }

      .img {
        width: 80%;
        height: 650px;
        position: relative;
        padding: 1rem 5%;
        transition: all .3s ease-in-out;

        @media only screen and (max-width: 992px) {
          width: 100%;
          order: 2;
        }

        @media only screen and (max-width: 320px) {
          height: 250px;
        }

        &:hover {
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
          border-radius: 12px;
        }

        img {
          width: 450px;
          height: auto;
          object-fit: cover;

          @media only screen and (max-width: 992px) {
            width: 100%;
          }
        }

        .assets {
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: -360px;
          z-index: -1;
          left: 150px;

          @media only screen and (max-width: 992px) {
            bottom: -20px;
            left: 15px;
          }

          @media only screen and (max-width: 768px) {
            bottom: -10px;
            left: 20px;
          }

          @media only screen and (max-width: 468px) {
            bottom: -360px;
            left: 0;
          }

          @media only screen and (max-width: 320px) {
            display: none;
          }

          img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            animation: assets 5s infinite linear alternate;

            @media only screen and (max-width: 992px) {
              width: 150px;
              height: 150px;
            }

            @media only screen and (max-width: 468px) {
              width: 250px;
              height: 250px;
            }

            @keyframes assets {
              0% {
                transform: scale(1);
              }

              50% {
                transform: scale(1.1);
              }

              100% {
                transform: scale(1);
              }
            }
          }
        }
      }

      .text {
        width: 100%;
        height: auto;
        padding: 1rem 5%;
        transition: all .3s ease-in-out;

        @media only screen and (max-width: 468px) {
          height: 680px;
        }

        &:hover {
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
          border-radius: 12px;
        }

        .heading {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          margin-bottom: 3rem;
          margin-top: 1rem;

          h1 {
            font-size: $big-fs;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            font-family: $sec-f;

            @media only screen and (max-width: 468px) {
              font-size: $h1-fs;
            }
          }

          span {
            font-size: 1.3rem;
          }

          .row {
            content: '';
            position: absolute;
            bottom: -20px;
            height: 2px;
            width: 100%;
            left: 0;
            background-color: $title-c;
            opacity: .3;
          }
        }

        .box {
          .box__icons {
            display: flex;
            gap: .8rem;
            align-items: center;
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;

            i {
              color: #49960d;
              font-size: $h1-fs;
            }

            h3 {
              font-size: $h1-fs;
              margin-bottom: .4rem;
            }
          }

          p {
            font-size: 1.4rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

.services {
  background-color: $primary-c;
  min-height: 80vh;

  @media only screen and (max-width: 992px) {
    min-height: 50vh;
  }

  .services__container {
    padding: 1rem 5%;
    position: relative;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .animasi {
      position: absolute;
      top: -130px;
      left: -115px;

      @media only screen and (max-width: 768px) {
        top: -65px;
        left: -80px;
      }

      @media only screen and (max-width: 468px) {
        display: none;
      }

      img {
        width: 350px;
        height: auto;
        object-fit: cover;

        @media only screen and (max-width: 768px) {
          width: 250px;
        }
      }
    }

    .model {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, .15);
      left: 0;
      top: 0;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      visibility: hidden;
      opacity: 0;
      transition: all .3s ease-in-out;

      &.open {
        visibility: visible;
        opacity: 1;
      }

      .close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 60px;
        height: 60px;
        background-color: $body-c;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icons {
          font-size: $h1-fs;
        }
      }

      .box {
        width: 35%;
        background-color: $body-c;
        height: 550px;
        border-radius: 12px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 468px) {
          width: 90%;
        }

        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 1rem 5%;

          label {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 1.3rem;
            letter-spacing: 1px;
            font-weight: 400;

            input {
              width: 100%;
              height: 40px;
              margin-top: 1.5rem;
              margin-bottom: 1.5rem;
              border: 1px solid $title-c;
              color: $title-c;
              border-radius: 12px;
              outline: none;
              background-color: transparent;
              padding: 0 1rem;
            }
          }

          button {
            width: 35%;
            height: 45px;
            background-color: $body-c;
            color: $title-c;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            border-radius: 12px;
            font-size: 1.4rem;
            transition: all .3s ease-in-out;
            cursor: pointer;
            letter-spacing: 1px;
            margin-top: 2rem;

            &:hover {
              box-shadow: 0px 0px 5px 0px $title-c;
              background-color: $title-c;
              color: $body-c;
            }
          }
        }
      }
    }

    .heading {
      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: $big-fs;
        font-weight: 800;
        color: $body-c;
        margin-bottom: 2rem;
        letter-spacing: 1px;
        text-align: center;
        font-family: $sec-f;
      }

      .button {
        width: 350px;
        height: 50px;
        background-color: $body-c;
        color: $title-c;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        font-size: 1.4rem;
        transition: all .3s ease-in-out;
        cursor: pointer;

        @media only screen and (max-width: 468px) {
          width: 250px;
          text-align: center;
          height: 60px;
        }

        &:hover {
          box-shadow: 0px 0px 5px 0px $body-c;
        }
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      place-items: center;
      margin-top: 3rem;

      @media only screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
      }

      @media only screen and (max-width: 468px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
      }

      .box {
        width: 100%;
        padding: 1rem;
        height: 250px;
        background-color: $body-c;
        border-radius: 12px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        overflow: hidden;

        @media only screen and (max-width: 992px) {
          padding: 2rem;
          height: 250px;
        }

        @media only screen and (max-width: 1200px) {
          height: auto;
        }

        @media only screen and (max-width: 468px) {
          height: 100%;
          width: 95%;
          padding: 1rem;
        }

        &:hover {
          box-shadow: 0px 0px 10px 0px $body-c;
          transform: scale(1.05);
        }

        i {
          font-size: $big-fs;
          display: flex;
          justify-content: center;
          margin-bottom: 2rem;
        }

        h3 {
          font-size: $h1-fs;
          text-align: center;
          margin-bottom: 1.5rem;
        }

        p {
          font-size: 1.3rem;
          text-align: center;
        }
      }
    }
  }
}

.values {
  position: relative;

  .values__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      h1 {
        text-align: center;
        font-size: $big-fs;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: $sec-f;
      }
    }

    .content {

      .box {
        position: relative;
        margin-top: 5rem;

        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          height: 200px;
          padding: 1rem;

          @media only screen and (max-width: 992px) {
            padding: 1rem 0;
          }

          h1 {
            font-size: $big-fs;
            font-weight: 600;
            letter-spacing: 1px;
          }

          p {
            font-size: 1.5rem;
            margin-top: .5rem;
            font-weight: 400;
            letter-spacing: 1px;
            max-width: 60%;
            line-height: 1.5;

            @media only screen and (max-width: 992px) {
              max-width: 90%;
            }

            @media only screen and (max-width: 468px) {
              max-width: 100%;
            }
          }

          img {
            width: 250px;
            height: 150px;
            object-fit: cover;
            position: absolute;
            top: -15px;
            left: -80px;
            z-index: -1;

            @media only screen and (max-width: 992px) {
              left: -50px;
            }

            @media only screen and (max-width: 468px) {
              left: 0;
            }
          }
        }

        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          width: 100%;
          height: 200px;
          padding: 1rem;

          @media only screen and (max-width: 992px) {
            padding: 1rem 0;
          }

          img {
            width: 250px;
            height: 150px;
            object-fit: cover;
            position: absolute;
            top: -15px;
            right: -60px;
            z-index: -1;

            @media only screen and (max-width: 992px) {
              right: -20px;
            }

            @media only screen and (max-width: 468px) {
              right: 0;
            }
          }

          h1 {
            font-size: $big-fs;
            font-weight: 600;
            letter-spacing: 1px;
          }

          p {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 1px;
            display: flex;
            text-align: end;
            max-width: 60%;
            line-height: 1.5;

            @media only screen and (max-width: 992px) {
              max-width: 90%;
            }

            @media only screen and (max-width: 468px) {
              max-width: 100%;
            }
          }
        }

        &:nth-child(3) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          height: 200px;
          padding: 1rem;

          @media only screen and (max-width: 992px) {
            padding: 1rem 0;
          }

          img {
            width: 250px;
            height: 150px;
            object-fit: cover;
            position: absolute;
            top: -15px;
            left: -80px;
            z-index: -1;

            @media only screen and (max-width: 992px) {
              left: -50px;
            }

            @media only screen and (max-width: 468px) {
              left: 0;
            }
          }

          h1 {
            font-size: $big-fs;
            font-weight: 600;
            letter-spacing: 1px;
          }

          p {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 1px;
            max-width: 60%;
            line-height: 1.5;

            @media only screen and (max-width: 992px) {
              max-width: 90%;
            }

            @media only screen and (max-width: 468px) {
              max-width: 100%;
            }
          }
        }

        &:nth-child(4) {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          width: 100%;
          height: 200px;
          padding: 1rem;

          @media only screen and (max-width: 992px) {
            padding: 1rem 0;
          }

          img {
            width: 250px;
            height: 150px;
            object-fit: cover;
            position: absolute;
            top: -15px;
            right: -60px;
            z-index: -1;

            @media only screen and (max-width: 992px) {
              right: -20px;
            }

            @media only screen and (max-width: 468px) {
              right: 0;
            }
          }

          h1 {
            font-size: $big-fs;
            font-weight: 600;
            letter-spacing: 1px;
          }

          p {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: end;
            display: flex;
            max-width: 60%;
            line-height: 1.5;

            @media only screen and (max-width: 992px) {
              max-width: 90%;
            }

            @media only screen and (max-width: 468px) {
              max-width: 100%;
            }
          }
        }

        &:nth-child(5) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          height: 200px;
          padding: 1rem;

          @media only screen and (max-width: 992px) {
            padding: 1rem 0;
          }

          img {
            width: 250px;
            height: 150px;
            object-fit: cover;
            position: absolute;
            top: -15px;
            left: -80px;
            z-index: -1;

            @media only screen and (max-width: 992px) {
              left: -50px;
            }

            @media only screen and (max-width: 468px) {
              left: 0;
            }
          }

          h1 {
            font-size: $big-fs;
            font-weight: 600;
            letter-spacing: 1px;
          }

          p {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 1px;
            max-width: 65%;
            line-height: 1.5;

            @media only screen and (max-width: 992px) {
              max-width: 90%;
            }

            @media only screen and (max-width: 468px) {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

.caracther {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  @media only screen and (max-width: 992px) {
    min-height: 80vh;
  }

  @media only screen and (max-width: 768px) {
    min-height: 100vh;
  }

  .caracther__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #16163f;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center bottom;
        opacity: .5;
      }
    }

    .content {
      width: 100%;
      height: 400px;
      background-color: rgba(0, 0, 0, .15);
      backdrop-filter: blur(3px);
      padding: 1rem 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      border-radius: 12px;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);

      @media only screen and (max-width: 768px) {
        height: 300px;
      }

      .box {

        span {
          font-size: 1.6rem;
          color: $body-c;
          letter-spacing: 1px;
          line-height: 1.5;
          margin-bottom: 1rem;
        }

        h3 {
          font-size: 1.7rem;
          color: $body-c;
          letter-spacing: 1px;
          font-weight: 300;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        h1 {
          font-size: $big-fs;
          color: $body-c;
          letter-spacing: 2px;
          line-height: 1.5;
          font-family: $sec-f;
        }

        p {
          font-size: 1.5rem;
          color: $body-c;
          margin-top: 1rem;
        }
      }
    }
  }
}

.content {
  position: relative;

  .box__content {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: 992px) {
      top: -150px;
    }

    @media only screen and (max-width: 468px) {
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }

    .box {
      width: 350px;
      height: 250px;
      background-color: $body-c;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      position: relative;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
      padding: 1rem;

      @media only screen and (max-width: 992px) {
        width: 320px;
      }

      @media only screen and (max-width: 468px) {
        width: 100%;
      }

      &::before {
        position: absolute;
        width: 5px;
        height: 100%;
        content: '';
        background-color: $second-c;
        left: 0;
        border-radius: 12px;
      }

      h1 {
        font-size: $big-fs;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: $h1-fs;
        margin-bottom: 1rem;
      }

      p {
        font-size: $normal-fs;
        line-height: 1.5;
      }
    }
  }
}

.banner {
  .banner__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    @media only screen and (max-width: 468px) {
      margin-top: -10rem;
    }

    .heading {
      h1 {
        font-size: $big-fs;
        letter-spacing: 1px;
        margin-bottom: 1rem;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 12px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 2rem;

      h2 {
        font-size: 2.5rem;
        text-align: center;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 1.5rem;
      }

      a {
        width: 220px;
        height: 60px;
        background-color: $primary-c;
        color: $body-c;
        border-radius: 6px;
        font-size: $h1-fs;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        justify-content: center;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: $second-c;
          color: $title-c;
        }
      }
    }
  }
}

.patner {
  .patner__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 2rem;

      h1 {
        font-size: $big-fs;
        margin-bottom: 1rem;
        font-family: $sec-f;
        font-weight: bold;
        letter-spacing: 1px;
      }

      p {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;
      }
    }

    .box {
      width: 100%;
      height: 100%;
      margin-top: 3rem;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;

        @media only screen and (max-width: 468px) {
          width: 80px;
          height: 100px;
          margin-left: 25px;
        }
      }
    }
  }
}

.testimonials {
  overflow: hidden;

  .testimonials__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      h1 {
        text-align: center;
        font-size: $big-fs;
        font-family: $sec-f;
        margin-bottom: 1rem;
        letter-spacing: 1px;
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 150px;
          height: auto;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 3rem;
        }

        .profile {
          padding: 2rem;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: $primary-c;
          color: $body-c;
          border-radius: 12px;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $primary-c;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
          }

          p {
            font-size: 1.4rem;
            margin-bottom: 1rem;
            line-height: 1.5;
          }

          h3 {
            font-size: $h1-fs;
            margin-bottom: 1rem;
            letter-spacing: 1px;
          }

          span {
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

.team {
  background-color: $primary-c;
  min-height: 100vh;

  @media only screen and (max-width: 992px) {
    min-height: 80vh;
  }

  .team__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
      text-align: center;

      h1 {
        font-size: $big-fs;
        color: $body-c;
        font-family: $sec-f;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      row-gap: 3rem;
      place-items: center;

      @media only screen and (max-width: 468px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .box {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 1rem;
        }

        h1 {
          font-size: $h1-fs;
          color: $body-c;
          margin-top: 1.5rem;
          margin-bottom: 1rem;
        }

        span {
          font-size: 1.35rem;
          color: $body-c;
          text-align: center;
          margin-bottom: 1rem;
          line-height: 1.5;
        }
      }
    }
  }
}

.potensial {
  .potensial__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .content {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      @media only screen and (max-width: 768px) {
        flex-direction: column;
        row-gap: 2rem;
      }

      .box {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
          font-size: $big-fs;
          margin-bottom: 2rem;
          font-family: $sec-f;
          letter-spacing: 1px;
          text-transform: uppercase;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            width: 150px;
            height: 5px;
            background-color: $primary-c;
            bottom: -5px;
            left: 0;
            border-radius: 6px;
          }
        }

        p {
          font-size: $h1-fs;
          margin-bottom: 1rem;
        }

        a {
          width: 230px;
          height: 50px;
          background-color: $primary-c;
          color: $body-c;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 1px;
          font-weight: 400;
          font-size: 1.2rem;
          margin-top: 2rem;
          border-radius: 6px;
        }
      }

      .video {
        padding: 1rem;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
        border-radius: 12px;

        iframe {
          border-radius: 6px;

          @media only screen and (max-width: 992px) {
            width: 500px;
            height: 300px;
          }

          @media only screen and (max-width: 768px) {
            width: 100%;
            height: 350px;
          }

          @media only screen and (max-width: 468px) {
            height: 250px;
          }
        }
      }
    }
  }
}

.faq {
  .faq__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 4rem;

      h1 {
        font-size: $big-fs;
        margin-bottom: 1rem;
        font-family: $sec-f;
        letter-spacing: 1px;
      }

      p {
        font-size: 1.4rem;
        letter-spacing: 1px;
        line-height: 1.5;
      }
    }

    .box {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      overflow: hidden;
      height: 100%;

      .content {
        padding: 2rem;
        width: 100%;
        height: 100px;
        border-radius: 12px;
        cursor: pointer;
        transition: height .3s ease-in-out;

        @media only screen and (max-width: 468px) {
          padding: 1rem;
        }

        &.active {
          height: 50%;

          .top {
            p {
              opacity: 1;
              transition: opacity 0.5s ease-in-out;
            }
          }
        }

        &:hover {
          box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, .15);
        }

        .top {
          h2 {
            font-size: $h1-fs;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width: 468px) {
              font-size: 1.4rem;
            }

            i {
              font-size: $h1-fs;
              margin-bottom: .5rem;

              @media only screen and (max-width: 468px) {
                display: none;
              }
            }
          }

          p {
            font-size: 1.3rem;
            line-height: 1.5;
            font-weight: 300;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

.contact {

  .contact__container {
    padding: 1rem 5%;
    position: relative;
    min-height: 100vh;
    margin-top: -2rem;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
      min-height: 50vh;
    }

    @media only screen and (max-width: 768px) {
      min-height: 70vh;
    }

    @media only screen and (max-width: 468px) {
      min-height: 100vh;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: brightness(.7);
      border-radius: 12px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        text-align: center;
        font-size: $big-fs;
        font-weight: bold;
        margin-bottom: 5rem;
      }

      .contact__data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 2rem;

        @media only screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 468px) {
          grid-template-columns: repeat(1, 1fr);
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 250px;
          height: 150px;
          border-radius: 12px;
          background-color: $body-c;

          @media only screen and (max-width: 468px) {
            width: 300px;
          }

          i {
            font-size: $big-fs;
            color: $title-c;
          }

          span {
            font-size: $h1-fs;
            color: $title-c;
          }
        }
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 150px;
  left: -5%;
  z-index: 99;
  transition: all .3s ease-in-out;
  width: 80px;
  height: 270px;
  border-top-right-radius: 12px;
  background: #fefef4;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
  border-bottom-right-radius: 12px;
  padding: 2rem 1.7%;

  @media only screen and (max-width: 992px) {
    left: -7%;
  }

  @media only screen and (max-width: 768px) {
    left: -9%;
    padding: 2rem 2.5%;
  }

  @media only screen and (max-width: 468px) {
    left: -15%;
    padding: 2rem 5%;
  }


  @media only screen and (max-width: 320px) {
    left: -23%;
    padding: 2rem 8%;
  }

  a {
    font-size: 2rem;
    color: $title-c;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    transition: all .3s ease-in-out;

    &:hover {
      color: $primary-c;
    }
  }

  &.active {
    left: 0;
  }

  .open {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;

    .icons {
      font-size: $big-fs;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: flex-start;
      color: $body-c;
    }
  }
}