@import './globals.scss';

.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  .home__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
      z-index: -1;
      filter: brightness(.5);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      .profile {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        gap: 1rem;
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;

        @media only screen and (max-width: 468px) {
          flex-direction: column;
        }

        h1 {
          font-size: $big-fs;
          color: $body-c;
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 300;
          letter-spacing: 1px;

          @media only screen and (max-width: 468px) {
            margin-bottom: 2rem;
          }

          span {
            color: $body-c;
            font-weight: bold;
            letter-spacing: 1px;
          }

          @media only screen and (max-width: 468px) {
            div {
              display: none;
              visibility: hidden;
            }
          }
        }
      }

      .btn {
        display: flex;
        width: 75%;
        height: 60px;
        background-color: $second-c;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        border-radius: 12px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        text-transform: uppercase;
        margin-top: 3rem;
        cursor: pointer;

        @media only screen and (max-width: 992px) {
          width: 80%;
          height: 70px;
        }

        @media only screen and (max-width: 468px) {
          width: 100%;
        }

        @media only screen and (max-width: 320px) {
          flex-direction: column;
          padding: 0;
          width: 100%;
        }

        &:hover {
          transform: perspective(1px) scale(.9);
          background-color: $body-c;
        }

        a {
          color: $title-c;
          font-size: 1.65rem;
          display: flex;

          @media only screen and (max-width: 468px) {
            font-size: 1.3rem;
          }

          &:nth-child(2) {
            font-weight: bold;
          }
        }
      }

      .secondary {
        display: flex;
        width: 90%;
        height: 70px;
        background-color: $primary-c;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem 5%;
        border-radius: 12px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        text-transform: uppercase;
        padding: 1rem;
        cursor: pointer;

        @media only screen and (max-width: 992px) {
          width: 100%;
          margin-top: 5rem;
          height: 90px;
        }

        @media only screen and (max-width: 768px) {
          margin-top: 3rem;
        }

        @media only screen and (max-width: 468px) {
          width: 100%;
          flex-direction: column;
          margin-top: 1.5rem;
          height: auto;
        }

        &:hover {
          transform: perspective(1px) scale(.9);
          background-color: $title-c;
        }

        a {
          color: $body-c;
          font-size: 1.8rem;
          display: flex;
          gap: .5rem;
          align-items: center;
          letter-spacing: 1px;

          @media only screen and (max-width: 468px) {
            flex-direction: column;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.count {
  position: relative;
  padding: 7rem 2rem;

  @media only screen and (max-width: 768px) {
    padding: 4rem 2rem;
  }

  @media only screen and (max-width: 320px) {
    min-height: 100vh;
  }

  .counter {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: $body-c;
    color: $title-c;
    width: 90%;
    border-bottom: 2px solid $second-c;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
    border-radius: 12px;

    @media only screen and (max-width: 992px) {
      width: 95%;
    }

    @media only screen and (max-width: 468px) {
      height: 70vh;
      flex-direction: column;
      gap: 2rem;
    }

    @media only screen and (max-width: 320px) {
      height: 100vh;
      flex-direction: column;
      gap: 2rem;
    }

    .box {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
      align-items: center;
      position: relative;

      @media only screen and (max-width: 468px) {
        padding: 1rem 0;
      }

      .row {
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $title-c;
        opacity: .1;

        @media only screen and (max-width: 468px) {
          bottom: 0;
          top: 110px;
          height: 2px;
          width: 100%;
          left: 0;
        }
      }

      h1 {
        display: flex;
        font-size: $big-fs;
        font-weight: bold;
        gap: .4rem;
        margin-bottom: .5rem;

        @media only screen and (max-width: 992px) {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
      }

      h3 {
        font-size: $h1-fs;
        letter-spacing: 1px;
        font-weight: 400;

        @media only screen and (max-width: 992px) {
          font-size: 15px;
        }
      }
    }
  }
}

.magang {
  background-color: $primary-c;
  min-height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;

  @media only screen and (max-width: 768px) {
    min-height: 75vh;
  }

  @media only screen and (max-width: 468px) {
    min-height: 100vh;
  }

  @media only screen and (max-width: 320px) {
    min-height: 150vh;
  }

  .magang__container {
    padding: 1rem 7%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      .text {

        h1 {
          font-size: $big-fs;
          color: $body-c;
          letter-spacing: 1px;
          line-height: 1.5;
          margin-bottom: 1rem;

          @media only screen and (max-width: 768px) {
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 1rem;
          }

          @media only screen and (max-width: 468px) {
            max-width: 100%;
            font-size: 2.2rem;
          }
        }

        span {
          font-size: 1.3rem;
          color: $body-c;
        }

        p {
          font-size: 1.3rem;
          color: $body-c;
          margin-top: 1rem;
          font-weight: 300;
          line-height: 1.5;

          @media only screen and (max-width: 992px) {
            max-width: 80%;
            margin: 0 auto;
            margin-top: 2rem;
            line-height: 2;
          }

          b {
            font-weight: 600;
          }
        }
      }

      .button {
        display: flex;
        gap: 2rem;
        margin-top: 4rem;

        @media only screen and (max-width: 468px) {
          flex-direction: column;
          align-items: center;
        }

        a {
          width: 250px;
          background-color: transparent;
          color: $body-c;
          border: 2px solid $second-c;
          padding: 1rem 3%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          font-size: 1.4rem;
          transition: all .3s ease-in-out;

          &:hover {
            background-color: $second-c;
          }

          &:nth-child(2) {
            background-color: $second-c;
            width: 350px;
            border: none;

            @media only screen and (max-width: 468px) {
              width: 320px;
              height: 70px;
            }

            @media only screen and (max-width: 320px) {
              width: 250px;
            }

            &:hover {
              background-color: $body-c;
              color: $title-c;
            }
          }
        }
      }
    }
  }
}

.connect {
  .connect__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .content {
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;

      @media only screen and (max-width: 992px) {
        flex-direction: column;
        row-gap: 3rem;
      }

      .img {
        width: 80%;
        height: 650px;
        position: relative;
        padding: 1rem 5%;
        transition: all .3s ease-in-out;

        @media only screen and (max-width: 992px) {
          width: 100%;
          order: 2;
        }

        @media only screen and (max-width: 320px) {
          height: 250px;
        }

        &:hover {
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
          border-radius: 12px;
        }

        img {
          width: 450px;
          height: auto;
          object-fit: cover;

          @media only screen and (max-width: 992px) {
            width: 100%;
          }
        }

        .assets {
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: -360px;
          z-index: -1;
          left: 150px;

          @media only screen and (max-width: 992px) {
            bottom: -20px;
            left: 15px;
          }

          @media only screen and (max-width: 768px) {
            bottom: -10px;
            left: 20px;
          }

          @media only screen and (max-width: 468px) {
            bottom: -360px;
            left: 0;
          }

          @media only screen and (max-width: 320px) {
            display: none;
          }

          img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            animation: assets 5s infinite linear alternate;

            @media only screen and (max-width: 992px) {
              width: 150px;
              height: 150px;
            }

            @media only screen and (max-width: 468px) {
              width: 250px;
              height: 250px;
            }

            @keyframes assets {
              0% {
                transform: scale(1);
              }

              50% {
                transform: scale(1.1);
              }

              100% {
                transform: scale(1);
              }
            }
          }
        }
      }

      .text {
        width: 100%;
        height: auto;
        padding: 1rem 5%;
        transition: all .3s ease-in-out;

        @media only screen and (max-width: 468px) {
          height: 680px;
        }

        &:hover {
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
          border-radius: 12px;
        }

        .heading {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          margin-bottom: 3rem;
          margin-top: 1rem;

          h1 {
            font-size: $big-fs;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;

            @media only screen and (max-width: 468px) {
              font-size: $h1-fs;
            }
          }

          span {
            font-size: 1.3rem;
          }

          .row {
            content: '';
            position: absolute;
            bottom: -20px;
            height: 2px;
            width: 100%;
            left: 0;
            background-color: $title-c;
            opacity: .3;
          }
        }

        .box {
          .box__icons {
            display: flex;
            gap: .8rem;
            align-items: center;
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;

            i {
              color: #49960d;
              font-size: $h1-fs;
            }

            h3 {
              font-size: $h1-fs;
              margin-bottom: .4rem;
            }
          }

          p {
            font-size: 1.4rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

.services {
  background-color: $primary-c;
  min-height: 80vh;

  .services__container {
    padding: 1rem 5%;
    position: relative;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .animasi {
      position: absolute;
      top: -130px;
      left: -115px;

      @media only screen and (max-width: 768px) {
        top: -65px;
        left: -80px;
      }

      @media only screen and (max-width: 468px) {
        display: none;
      }

      img {
        width: 350px;
        height: auto;
        object-fit: cover;

        @media only screen and (max-width: 768px) {
          width: 250px;
        }
      }
    }

    .model {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, .15);
      left: 0;
      top: 0;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      visibility: hidden;
      opacity: 0;
      transition: all .3s ease-in-out;

      &.open {
        visibility: visible;
        opacity: 1;
      }

      .close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 60px;
        height: 60px;
        background-color: $body-c;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icons {
          font-size: $h1-fs;
        }
      }

      .box {
        width: 35%;
        background-color: $body-c;
        height: 450px;
        border-radius: 12px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .15);
        display: flex;
        align-items: center;
        justify-content: center;

        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 1rem 5%;

          label {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 1.3rem;
            letter-spacing: 1px;
            font-weight: 400;

            input {
              width: 100%;
              height: 40px;
              margin-top: 1.5rem;
              margin-bottom: 1.5rem;
              border: 1px solid $title-c;
              color: $title-c;
              border-radius: 12px;
              outline: none;
              background-color: transparent;
              padding: 0 1rem;
            }
          }

          button {
            width: 35%;
            height: 45px;
            background-color: $body-c;
            color: $title-c;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            border-radius: 12px;
            font-size: 1.4rem;
            transition: all .3s ease-in-out;
            cursor: pointer;
            letter-spacing: 1px;
            margin-top: 2rem;

            &:hover {
              box-shadow: 0px 0px 5px 0px $title-c;
              background-color: $title-c;
              color: $body-c;
            }
          }
        }
      }
    }

    .heading {
      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: $big-fs;
        font-weight: 800;
        color: $body-c;
        margin-bottom: 2rem;
        letter-spacing: 1px;
        text-align: center;
      }

      .button {
        width: 350px;
        height: 50px;
        background-color: $body-c;
        color: $title-c;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        font-size: 1.4rem;
        transition: all .3s ease-in-out;
        cursor: pointer;

        @media only screen and (max-width: 468px) {
          width: 250px;
          text-align: center;
          height: 60px;
        }

        &:hover {
          box-shadow: 0px 0px 5px 0px $body-c;
        }
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      place-items: center;
      margin-top: 3rem;

      @media only screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
      }

      @media only screen and (max-width: 468px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
      }

      .box {
        width: 100%;
        padding: 1rem;
        height: 250px;
        background-color: $body-c;
        border-radius: 12px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        overflow: hidden;

        @media only screen and (max-width: 992px) {
          padding: 2rem;
          height: 250px;
        }

        @media only screen and (max-width: 1200px) {
          height: auto;
        }

        @media only screen and (max-width: 468px) {
          height: 100%;
          width: 95%;
          padding: 1rem;
        }

        &:hover {
          box-shadow: 0px 0px 10px 0px $body-c;
          transform: scale(1.05);
        }

        i {
          font-size: $big-fs;
          display: flex;
          justify-content: center;
          margin-bottom: 2rem;
        }

        h3 {
          font-size: $h1-fs;
          text-align: center;
          margin-bottom: 1.5rem;
        }

        p {
          font-size: 1.3rem;
          text-align: center;
        }
      }
    }
  }
}